header{
    .flex(column);

    form{

        background: url('/img/rocket.png') no-repeat;
        background-size: contain;

        ul{

            

            .flex(column, space-evenly, space-evenly);

            li{
                // visibility: hidden;
                
                .flex(column, center, flex-start);
                
                font-size: 3rem;
                margin: 5% 0;

                input{
                    height: 3rem;
                    width: 30rem;
                }
            }

            .message{
                height: 15rem;
            }

            img{
                display: none;
                // &:hover{
                //     cursor: pointer;
                //     animation-name: takeOff;
                //     animation-delay: 0s;
                //     animation-duration: 3s;
                //     animation-iteration-count: infinite;
                // }
            }


        }

    }

    .btn{
        .butn(5rem, 30rem);
        .hover();

        &:active{

            :root{
                display: none;
            }

        }
    }
    
}

